body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #f76c1a !important
}

h1{
  text-align: center;
}

.app-container{
  background-color: #ffffff;
  height:  100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 2px;
}
.form-control {
  width: 100%;
}

.people-count{
  
  padding: 10px
}